* {
    box-sizing: border-box; 
    margin: 0px;
    padding: 0px; 
    font-family: sans-serif; 
} 

html {
    height: 100vh;
    background-color: rgba(226, 128, 230, 0.801); 
    background-size: 400px; /* or cover*/  
}
h1, h2{
    color: white; 
}
a.hover{
    color: red; 
}
h1{
    font-size: 85px;
    text-align: center; 
}
h2{
    font-size: 65px;
    text-align: center; 
    
}
#Home-img { 
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto; 
    width: 30%;
    border-radius: 8px;  
} 
#Virtual-pet{
    height: auto;
    display: block;
    margin-left: 30%;
    margin-right: auto; 
    width: 40%; 
    border-radius: 8px;       
}
#Fizz-Buzz-Qix {
    height: auto;
    display: block;
    margin-left: 30%; 
    margin-right: auto; 
    width: 40%; 
    border-radius: 8px; 
}
#Savings-Account {
    height: auto;
    display: block;
    margin-left: 30%; 
    margin-right: auto; 
    width: 40%; 
    border-radius: 8px; 
}
#Email-pic {
    height: auto;
    display: block;
    margin-left: 40%; 
    margin-right: auto; 
    width: 20%; 
    border-radius: 8px; 
}
#Linkden-pic {
    height: auto;
    display: block;
    margin-left: 40%;  
    width: 20%; 
    border-radius: 8px;  
}

.assignments { 
    font-size: xx-large;  
    color: white; 
}
nav {
    font-size: large; 
    color: black; 
}
footer {
    font-size: large; 
    color: black; 
} 


