* {
    box-sizing: border-box; 
    margin: 0px;
    padding: 0px; 
    font-family: sans-serif; 
} 

html {
    height: 100vh;
    background-color: rgba(226, 128, 230, 0.801); 
    background-size: 400px; /* or cover*/  
}
h1, h2, h3, h6{ 
    color: white; 
}
a.hover{
    color: red; 
}
h1{
    font-size: 85px;
    text-align: center; 
}
h2{
    font-size: 65px;
    text-align: center; 
}
nav ul li {
    color: black; 
}
#about {
    font-size: x-large; 
}
#skills {
    font-size: x-large;
}
#projects {
 font-size: x-large;
 color: white; 
}
#contact ul li{
font-size: x-large;
text-align: center;
} 





