* {
    box-sizing: border-box; 
    margin: 0px;
    padding: 0px; 
    font-family: sans-serif; 
} 

/* :root { /*Notice we declare this with the same key, value pair. 
    --primary-color: red;
    --secondary-color: blue;
    --tertiary-color: yellow;
} */  

html {
    height: 100vh;
    background-color: rgba(226, 128, 230, 0.801); 
    background-size: 400px; /* or cover*/  
}
h1, h2{
    color: white; 
}
a.hover{
    color: red; 
}
h1{
    font-size: 85px;
    text-align: center; 
}
h2{
    font-size: 65px;
    text-align: center; 
    
}
#Home-img { 
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto; 
    width: 50%;
    border-radius: 8px;  
} 
