* {
    box-sizing: border-box; 
    margin: 0px;
    padding: 0px; 
    font-family: sans-serif; 
} 

:root { /*Notice we declare this with the same key, value pair.  */
    --primary-color: red;
    --secondary-color: blue;
    --tertiary-color: yellow;
}

html {
    height: 100vh;
    background-image: url(https://media.giphy.com/media/4H3Ii5eLChYul9p7NL/giphy.gif); 
    background-size: 400px; /* or cover*/ 
}
h1, h2{
    color: white; 
}
a.hover{
    color: red; 
}
h1{
    font-size: 85px;
    text-align: center; 
}
h2{
    font-size: 65px;
    text-align: center; 
}
#home-img{
    
}